In [22]:
import numpy as np
import pandas as pd
from scipy import stats

In [4]:
property_df =  pd.read_csv(r'C:\Users\IN04343\Downloads\HeroVired\property.csv')

In [6]:
property_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [7]:
property_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [20]:
property_df.shape

(13580, 21)

## Question- 1 : For the suburb of Altona, it is postulated that a typical property sells for 800,000 dollars. Use the data at hand to test this assumption. Is the typical property price really $800,000 or has it increased? Use a significance level of 5%.

- H0 : Average property sells for 800000 dollars in suburb of Altona
- H1 : Average property sells for more than 800000 dollars in suburb of Altona

In [30]:
pop_mean = 800000

In [28]:
altona_prices = property_df[property_df['Suburb'] == 'Altona']['Price']

In [29]:
altona_prices

141       520000.0
142      1525000.0
143       720000.0
144      1120000.0
145       780000.0
           ...
12216     913000.0
12432     458000.0
12634    1248500.0
13338     920000.0
13339     801250.0
Name: Price, Length: 74, dtype: float64

In [31]:
t_test, p_value = stats.ttest_1samp(altona_prices, pop_mean)

In [32]:
t_test

np.float64(1.0277020770199676)

In [33]:
p_value

np.float64(0.307483271305555)

#### Given significance_level(alpha) = 0.05

In [35]:
if p_value <= 0.05:
    print('Reject H0 : Average Property sells more than $800000')
else:
    print('Fail to Reject H0 : Average Property sells at $800000')

Fail to Reject H0 : Average Property sells at $800000

### From the T-test, conclusion is failed to reject the null hypothesis, so average property sells at $800000 in the suburb of Altona is correct.

## Question-2 : For the year 2016, is there any difference in the prices of properties sold in the summer months vs winter months? Consider months from October till March as winter months and rest as summer months. Use a significance level of 5%.

- H0 : There is no difference in mean property prices between summer and winter months in 2016.
- H1 : There is difference in mean property prices between summer and winter months in 2016.

In [39]:
property_df['Date'] = pd.to_datetime(property_df['Date'], format='%d/%m/%Y')

In [ ]:
property_df['Sold_Year'] = property_df['Date'].dt.year # extracting sold_year from date

In [124]:
property_df['Season'] = property_df['Date'].dt.month.apply(lambda m: 'Winter' if m >= 10 or m <= 3 else 'Summer') # lambda fun for season using months

In [53]:
property_df[['Date', 'Sold_Year', 'Season']].head()

        Date  Sold_Year  Season
0 2016-12-03       2016  Winter
1 2016-02-04       2016  Winter
2 2017-03-04       2017  Winter
3 2017-03-04       2017  Winter
4 2016-06-04       2016  Summer

In [66]:
summer_prices = property_df[(property_df['Season'] == 'Summer') & (property_df['Sold_Year'] == 2016)]['Price']

In [67]:
summer_prices

4       1600000.0
5        941000.0
6       1876000.0
13      1172500.0
14       441000.0
          ...
7423     566000.0
7425     393000.0
7426     440000.0
7428    2200000.0
7430    1908000.0
Name: Price, Length: 4036, dtype: float64

In [69]:
winter_prices = property_df[(property_df['Season'] == 'Winter') & (property_df['Sold_Year'] == 2016)]['Price']

In [70]:
winter_prices

0       1480000.0
1       1035000.0
7       1636000.0
8        300000.0
9       1097000.0
          ...
7415     501000.0
7421     600000.0
7422     575000.0
7427     595000.0
7429    1700000.0
Name: Price, Length: 2300, dtype: float64

In [73]:
stats.ttest_ind(summer_prices, winter_prices)

TtestResult(statistic=np.float64(-4.043386317851058), pvalue=np.float64(5.3309767667631686e-05), df=np.float64(6334.0))

In [74]:
ttest,p_value = stats.ttest_ind(summer_prices, winter_prices)

In [75]:
ttest

np.float64(-4.043386317851058)

In [76]:
p_value

np.float64(5.3309767667631686e-05)

In [77]:
if p_value <= 0.05:
    print('Reject H0 : Difference in mean property prices between summer and winter months in 2016')
else:
    print('Fail to Reject H0 : No difference in mean property prices between summer and winter months in 2016')

Reject H0 : Difference in mean property prices between summer and winter months in 2016

### From above T-test, the conclusion is, there is difference in mean property prices between summer and winter months in 2016

## Question-3 : For the suburb of Abbotsford, what is the probability that out of 10 properties sold, 3 will not have a car parking space? Use the column car in the dataset.Round off your answer to 3 decimal places.

In [98]:
p = (property_df[property_df['Suburb'] == 'Abbotsford']['Car'] == 0).mean()

In [99]:
p

np.float64(0.26785714285714285)

In [96]:
from scipy.stats import binom

In [100]:
k = 3
n = 10

In [104]:
p = binom.pmf(k,n,p)

In [105]:
p_round_3 = round(p,3)

In [106]:
p_round_3

np.float64(0.26)

### This means there's a 26% chance that exactly 3 out of 10 properties sold in Abbotsford will not have a car space.

## Question-4 : In the suburb of Abbotsford, what are the chances of finding a property with 3 rooms? Round your answer to 3 decimal places.

In [123]:
p_value = ((property_df['Suburb'] == 'Abbotsford') & (property_df['Rooms'] == 3)).mean()

In [116]:
p_value

np.float64(0.0014727540500736377)

In [117]:
p_value_round_3 = round(p_value, 3)

In [118]:
p_value_round_3

np.float64(0.001)

### Probability = 0.001. This means there's a 0.1% chance of selecting a property in Abbotsford that has exactly 3 rooms.

## Question-5: In the suburb of Abbotsford, what are the chances of finding a property with 2 bathrooms? Round your answer to 3 decimal places.

In [119]:
p_2_bathroom = ((property_df['Suburb'] == 'Abbotsford') & (property_df['Bathroom'] == 2)).mean()

In [121]:
p_2_bathroom_rounded = round(p_2_bathroom, 3)

In [122]:
p_2_bathroom_rounded

np.float64(0.001)

### Probability = 0.001. This means there's a 0.1% chance of selecting a property in Abbotsford that has exactly 2 bathrooms.